.git
.gitignore
.env
.env.*
node_modules
vendor
tests
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
coverage
*.md
docker-compose*.yml
.vscode
.idea
